In [260]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.float_format = '{:,.2f}'.format
%matplotlib inline

from sklearn.preprocessing import LabelEncoder

# Exemplo de uso do LabelEncoder
label_encoder = LabelEncoder()

In [261]:
DS_treino = pd.read_csv("train.csv")
DS_teste = pd.read_csv("test.csv")

DS_treino = DS_treino.fillna(0)
DS_teste = DS_teste.fillna(0)

In [262]:
colunas = [
    'MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 
    'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 
    'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 
    'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 
    'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 
    'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 
    'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition'
]

# Para cada coluna, primeiro converte para string e depois aplica o LabelEncoder
for coluna in colunas:
    DS_treino[coluna] = DS_treino[coluna].astype(str)  # Converte para string
    DS_treino[coluna] = label_encoder.fit_transform(DS_treino[coluna])
    DS_teste[coluna] = DS_teste[coluna].astype(str)  # Converte para string
    DS_teste[coluna] = label_encoder.fit_transform(DS_teste[coluna])

In [263]:
Y_treino = DS_treino.SalePrice
X_treino = DS_treino.drop('SalePrice', axis=1)

X_teste = DS_teste

In [264]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor

In [267]:
modelo_regressao = LinearRegression()

modelo_regressao.fit(X_treino, Y_treino)

Y_regressao = modelo_regressao.predict(X_teste)
data = {'ID':X_teste['Id'], 'predição' : Y_regressao}
data = pd.DataFrame(data)
data

        ID   predição
0     1461  59,933.22
1     1462 107,765.81
2     1463 115,041.53
3     1464 134,285.28
4     1465 137,919.42
...    ...        ...
1454  2915  27,472.22
1455  2916   2,424.08
1456  2917 104,940.18
1457  2918  72,849.35
1458  2919 189,303.88

[1459 rows x 2 columns]

In [268]:
arvore = DecisionTreeRegressor()

arvore.fit(X_treino, Y_treino)

Y_regressao = arvore.predict(X_teste)
data = {'ID':X_teste['Id'], 'predição' : Y_regressao}
data = pd.DataFrame(data)
data

        ID   predição
0     1461 129,000.00
1     1462 129,000.00
2     1463 173,000.00
3     1464 177,500.00
4     1465 210,000.00
...    ...        ...
1454  2915  97,000.00
1455  2916  83,500.00
1456  2917 143,000.00
1457  2918 100,000.00
1458  2919 176,000.00

[1459 rows x 2 columns]

In [269]:
from sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = train_test_split(X_treino, Y_treino)

modelo_regressao.fit(x_treino, y_treino)

Y_regressao = modelo_regressao.predict(x_teste)

DS_final = pd.DataFrame({'teste': y_teste, 'Predição': Y_regressao})
DS_final = DS_final.sort_values(by='teste', ascending=False)
DS_final

       teste   Predição
1182  745000 527,328.92
1169  625000 440,292.58
898   611657 419,730.36
803   582933 394,509.49
440   555000 409,105.00
...      ...        ...
1279   68400  85,399.91
1100   60000  21,956.84
1380   58500  29,415.95
1337   52500  66,733.31
533    39300  39,933.33

[365 rows x 2 columns]

In [270]:
arvore.fit(x_treino, y_treino)

Y_regressao = arvore.predict(x_teste)

DS_final = pd.DataFrame({'teste': y_teste, 'Predição': Y_regressao})
DS_final = DS_final.sort_values(by='teste', ascending=False)
DS_final.head(10)

       teste   Predição
1182  745000 755,000.00
1169  625000 538,000.00
898   611657 501,837.00
803   582933 501,837.00
440   555000 386,250.00
473   440000 315,000.00
389   426000 451,950.00
278   415298 465,000.00
1353  410000 381,000.00
774   395000 255,500.00